.textos1{
   font-weight: bold !important;
}

.imagem{
    background-image: url(https://img.freepik.com/fotos-gratis/icone-de-desenvolvimento-de-linguagem-de-codificacao-no-conceito-de-desenvolvedor-de-software-de-fundo-rosa-ilustracao-de-renderizacao-3d-de-estilo-minimo-de-desenho-animado_598821-440.jpg?w=740);
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.text-decorator-none{
    text-decoration: none;
}
.fundo{
    background: rgb(238,174,202);
background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
}