.box1{
    background-color: hsl(172, 48%, 48%);
    height: 120px;
}

.box2{
    background-color: hsl(172, 48%, 48%);
    height: 60px;
}

.redes{
    font-size: 60px !important;
    color: white;
}

.textos{
   color: white;
}

.menu3 {
    background-color:  #495057 !important;
    text-decoration: none !important ;
}