.caixa{
    background-color: #b53f983d;
    background: linear-gradient(36deg, #ffffff90 8%, #31303090 80%)!important;
}

.titulo{
   color: hsl(172, 48%, 48%) !important;
   font-weight: bold !important;
}

.botao{
    border-color: white !important;
    background-color: #15d4c4;
    color: white !important;
}

.postagens{
    background-color: rgba(46, 223, 179, 0.795);
}



.text-decorator-none{
    text-decoration: none;
}